<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
</head>
<body>

<div id="divv">


</div>


<!--      Navbar-->
<nav class="navbar navbar-dark bg-dark">
</nav>

<!--     Left block-->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">

                <!--        Admin panel-->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <div class="col-12 ">
                            <h1>Admin panel</h1>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">Users table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">New user</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">

                                    <!--                                    All users-->
                                    <div class="card">
                                        <h5 class="card-header">All users</h5>
                                        <div class="card-body">

                                            <!--Table users-->
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbAllUsers">
                                                </tbody>
                                            </table>


                                            <!--Modal edit-->
                                            <div class="modal fade"
                                                 id="modalE" tabindex="-1" role="dialog "
                                                 aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalEditTitle">Edit
                                                                user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mx-auto" style="width: 300px;">
                                                                <form id="edit1" class="formModalW">
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="Id">ID</label>
                                                                        </div>
                                                                        <input readonly type="number"
                                                                               name="id"

                                                                               class="form-control"
                                                                               id="id">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="name">First
                                                                                name</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               name="name"

                                                                               class="form-control"
                                                                               id="name">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="lastName">Last
                                                                                name</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               name="lastName"

                                                                               class="form-control"
                                                                               id="lastName">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="age">Age</label>
                                                                        </div>
                                                                        <input type="number"
                                                                               name="age"

                                                                               class="form-control"
                                                                               id="age">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="email">Email</label>
                                                                        </div>
                                                                        <input type="email"
                                                                               name="email"

                                                                               class="form-control"
                                                                               id="email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="password">Password</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               name="password"
                                                                               class="form-control"
                                                                               id="password">
                                                                    </div>
                                                                    <div class="mx-auto"
                                                                         style="width: 100px;">
                                                                        <label>Role</label>
                                                                    </div>
                                                                    <select id="roles" class="custom-select"
                                                                            multiple="multiple"
                                                                            size="2" name="role">

                                                                        <option id="role" value="ADMIN">
                                                                            ADMIN
                                                                        </option>
                                                                        <option value="USER">USER
                                                                        </option>
                                                                    </select>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button id="update"
                                                                                type="button"
                                                                                class="btn btn-primary">Edit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                             Modal Delete-->
                                            <div id="modalD" class="modal fade"
                                                 tabindex="-1"
                                                 role="dialog "
                                                 aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered"
                                                     role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalDeleteTitle">
                                                                Edit
                                                                user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mx-auto" style="width: 300px;">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="idD">ID</label>
                                                                        </div>
                                                                        <input readonly type="number"
                                                                               name="id"
                                                                               class="form-control"
                                                                               id="idD"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="nameD">First
                                                                                name</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               name="name"
                                                                               class="form-control"
                                                                               id="nameD"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="lastNameD">Last
                                                                                name</label>
                                                                        </div>
                                                                        <input type="text"
                                                                               name="lastName"
                                                                               class="form-control"
                                                                               id="lastNameD"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="ageD">Age</label>
                                                                        </div>
                                                                        <input type="number"
                                                                               name="age"
                                                                               class="form-control"
                                                                               id="ageD"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="mx-auto"
                                                                             style="width: 100px;">
                                                                            <label for="emailD">Email</label>
                                                                        </div>
                                                                        <input type="email"
                                                                               name="email"
                                                                               class="form-control"
                                                                               id="emailD"
                                                                               disabled>
                                                                    </div>
                                                                    <div class="mx-auto"
                                                                         style="width: 100px;">
                                                                        <label>Role</label>
                                                                    </div>
                                                                    <select class="custom-select"
                                                                            multiple="multiple"
                                                                            size="2" name="role" disabled>
                                                                        <option>
                                                                            ADMIN
                                                                        </option>
                                                                        <option>USER
                                                                        </option>
                                                                    </select>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button id="del" type="submit"
                                                                                class="btn btn-primary">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--New user-->
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body">

                                            <div class="mx-auto" style="width: 300px;">
                                                <form class="formNewUser" >
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="mx-auto" style="width: 100px;">
                                                                <label for="nameN">First
                                                                    name</label>
                                                            </div>
                                                            <input name="name" type="text" class="form-control"
                                                                   id="nameN"
                                                                   placeholder="First name">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="mx-auto" style="width: 100px;">
                                                                <label for="lastNameN">Last name</label>
                                                            </div>
                                                            <input name="lastName" type="text" class="form-control"
                                                                   id="lastNameN"
                                                                   placeholder="Last name">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="mx-auto" style="width: 100px;">
                                                                <label for="ageN">Age</label>
                                                            </div>
                                                            <input name="age" type="number" class="form-control"
                                                                   id="ageN" placeholder="Age">
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="mx-auto" style="width: 100px;">
                                                                <label for="emailN">Email</label>
                                                            </div>
                                                            <input name="email" type="email" class="form-control"
                                                                   id="emailN" placeholder="Email">
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="mx-auto" style="width: 100px;">
                                                                <label for="passwordN">Password</label>
                                                            </div>
                                                            <input type="text" name="password" class="form-control"
                                                                   id="passwordN" placeholder="Password">
                                                        </div>
                                                        <div class="mx-auto" style="width: 100px;">
                                                            <label>Role</label>
                                                        </div>
                                                        <select id="roleNew" class="custom-select" multiple="multiple"
                                                                size="2"
                                                                name="role">
                                                            <option value="ADMIN">ADMIN</option>
                                                            <option selected value="USER">USER</option>
                                                        </select>
                                                        <div class="mx-auto" style="width: 200px;">
                                                            <button id="add" type="submit" class="btn btn-success">Add
                                                                new user
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                                User-->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row">
                        <div class="col-12 ">
                            <h1>User information page</h1>
                            <div class="tab-content" id="myTabContent1">
                                <div class="tab-pane fade show active" id="home1" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="card ">
                                        <h5 class="card-header">About user</h5>
                                        <div class="card-body">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                </tr>
                                                </thead>
                                                <tbody id="tbodyLeft">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>


    const url = "http://localhost:8080/api/"
    //////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////ALL USERS///////////////////////////////////////////////////
    const tBodyAllUsers = document.querySelector("#tbAllUsers")
    let result = ""

    fetch(url + "users")
        .then(response => response.json()).then(users => {
        users.forEach(user => {
            result += `<tr id="${user.id}">
                         <td>${user.id}</td>
                         <td>${user.name}</td>
                         <td>${user.lastName}</td>
                         <td>${user.age}</td>
                         <td>${user.email}</td>
                         <td>${user.roles.map(e => e.name_role)}</td>
                         <td> <button id= "edit" type="button" class=" btnEdit btn-info " data-toggle="modal" > Edit</button></td>
                         <td> <button id = "delete"  type="button" class="btnEdit btn-danger" data-toggle="modal" >Delete</button> </td></tr> `

        })
        tBodyAllUsers.innerHTML = result
    })

    const on = (element, ev, selector, handler) => {
        element.addEventListener(ev, e => {
            if (e.target.closest(selector)) {
                handler(e)
            }
        })
    }

    let roleList = [{id: 1, name_role: "ADMIN"}, {id: 2, name_role: "USER"}]
    let roles

    ////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////UPDATE/////////////////////////////////////////////
    const idEdit = document.getElementById("id")
    const lastNameEdit = document.getElementById("lastName")
    const ageEdit = document.getElementById("age")
    const emailEdit = document.getElementById("email")
    const passwordEdit = document.getElementById("password")
    const nameEdit = document.getElementById("name")
    const myModalEdit = new bootstrap.Modal(document.querySelector("#modalE"))

    on(document, "click", "#edit", e => {
        const line = e.target.parentNode.parentNode
        const idEd = line.children[0].innerHTML
        const nameEd = line.children[1].innerHTML
        const lastNameEd = line.children[2].innerHTML
        const ageEd = line.children[3].innerHTML
        const emailEd = line.children[4].innerHTML
        idEdit.value = idEd
        nameEdit.value = nameEd
        lastNameEdit.value = lastNameEd
        ageEdit.value = ageEd
        emailEdit.value = emailEd
        passwordEdit.value = ""

        myModalEdit.show()


        const update = document.getElementById("update")
        roles = []
        update.addEventListener("click", e => {
            e.preventDefault()
            let options = document.getElementById("roles").options
            roles = []
            for (let i = 0; i < options.length; i++) {
                if (options[i].selected) {
                    roles.push(roleList[i]);

                }
            }
            fetch(url + "update", {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: idEdit.value,
                    name: nameEdit.value,
                    lastName: lastNameEdit.value,
                    age: ageEdit.value,
                    email: emailEdit.value,
                    password: passwordEdit.value,
                    roles: roles
                })
            })
                .then(res => res.json())

            myModalEdit.hide();

            $("#" + idEdit.value).html(`<td>${idEdit.value}</td>
            <td>${nameEdit.value}</td>
        <td>${lastNameEdit.value}</td>
            <td>${ageEdit.value}</td>
            <td>${emailEdit.value}</td>
            <td>${roles.map(e => e.name_role)}</td>
            <td> <button id= "edit" type="button" class=" btnEdit btn-info " data-toggle="modal" > Edit</button></td>
            <td> <button id = "delete"  type="button" class="btnEdit btn-danger" data-toggle="modal" >Delete</button> </td>`
            );
        })
    })

    ///////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////DELETE/////////////////////////////////////////////////////////////
    on(document, "click", "#delete", e => {
        const line = e.target.parentNode.parentNode
        const idDe = line.children[0].innerHTML
        const nameDe = line.children[1].innerHTML
        const lastNameDe = line.children[2].innerHTML
        const ageDe = line.children[3].innerHTML
        const emailDe = line.children[4].innerHTML
        idDelete.value = idDe
        nameDelete.value = nameDe
        lastNameDelete.value = lastNameDe
        ageDelete.value = ageDe
        emailDelete.value = emailDe
        myModalDelete.show()
    })
    const myModalDelete = new bootstrap.Modal(document.querySelector("#modalD"))
    const idDelete = document.getElementById("idD")
    const nameDelete = document.getElementById("nameD")
    const lastNameDelete = document.getElementById("lastNameD")
    const ageDelete = document.getElementById("ageD")
    const emailDelete = document.getElementById("emailD")
    on(document, "click", "#del", (e) => {
        e.preventDefault()
        fetch(url + "delete/" + idDelete.value, {
            method: "DELETE"
        })

        document.getElementById(idDelete.value).remove()
        myModalDelete.hide()


    })

    ////////////////////////////////////////////////////////////////////////////////
    ////////////////////////CREATE/////////////////////////////////////////////////
    const nameNew = document.getElementById("nameN")
    const lastNameNew = document.getElementById("lastNameN")
    const ageNew = document.getElementById("ageN")
    const emailNew = document.getElementById("emailN")
    const passwordNew = document.getElementById("passwordN")
    const add = document.getElementById("add")
    add.addEventListener("click", e => {
        e.preventDefault()
        let options = document.getElementById("roleNew").options
        roles = []
        for (let i = 0; i < options.length; i++) {
            if (options[i].selected) {
                roles.push(roleList[i]);

            }
        }
        fetch(url + "create", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: nameNew.value,
                lastName: lastNameNew.value,
                age: ageNew.value,
                email: emailNew.value,
                password: passwordNew.value,
                roles: roles
            })
        })

            .then(() => location.reload())

    })
    /////////////////////////////////////////////////////////////////////
    ///////////////////////////TOPNAVBAR////////////////////////////////
    const navTop = document.querySelector(".navbar.navbar-dark.bg-dark");
    let temp = '';
    fetch("http://localhost:8080/api/user")
        .then(res => res.json())
        .then(user => {
            temp = `<div class="col-11">
       <p class="text-light bg-dark">
        ${user.email}
        with roles:
        ${user.roles.map(e => e.name_role)}
        </p>
    </div>
    <div class="col-1">
        <a class="badge" style="color: grey" href="/logout">Logout</a>
    </div>`;
            navTop.innerHTML = temp;
        })

    ////////////////////////////////////////////////////////////////
    //////////////////////LEFTNAVBAR///////////////////////////////
    const tbodyLeftUser = document.getElementById("tbodyLeft")
    let resultLeftUser = ""

    fetch(url + "user")
        .then(response => response.json()).then(user => {
        resultLeftUser += `<tr>
                         <td>${user.id}</td>
                         <td>${user.name}</td>
                         <td>${user.lastName}</td>
                         <td>${user.age}</td>
                         <td>${user.email}</td>
                         <td>${user.roles.map(e => e.name_role)}</td></tr>`;

        tbodyLeftUser.innerHTML = resultLeftUser
    })

</script>
</body>
</html>